<div class="news10comp">
	<h2>news10comp</h2>
<!-- 	<div ng-repeat="newsit in news">
		{{newsit.description}}
	</div>
 --> 

 	<ul class="cbp_tmtimeline">
        <li ng-repeat="newsit in news">
            <time class="cbp_tmtime">
            	<!-- <span ng-show="job.bitacora">{{job.bitacora}}</span>  -->
            	<span>{{newsit.pubDate}}</span>
            </time>
            <div class="cbp_tmlabel">
				
            	<a href="{{newsit.link}}" target="_blank">
            		<i class="fa fa-anchor fa-2x pull-right"></i>
            	</a>
				<h2>{{newsit.title}}</h2>
        		
            	<div ng-bind-html="newsit.description"></div>
            	
            
            </div>
        </li>
    </ul>

</div>